.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: var(--white);
  background-color: var(--gray);
  border: 2px solid var(--red);
  border-radius: 8px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 10px;
  width: 100%;
  border: 2px solid var(--white);
  border-radius: 8px 8px 0 0;
}

.card span {
  position: relative;
  top: -15px;
  content: "";
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 8px;
  padding: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 0 20px;
}

.info h3 {
  color: var(--white);
  font-size: var(--text-h3);
  line-height: var(--line-height-h3);
  text-transform: capitalize;
  font-weight: bolder;
  text-align: center;
}
