.container {
  max-width: 90vw;
  margin: 0 auto;
}

.main_container {
  display: flex;
  align-items: center;
  justify-container: center;
  min-height: 80vh;
}

@media (min-width: 1024px) {
  .container {
    max-width: 80vw;
  }
}