.footer {
  color: var(--white);
  background-color: var(--gray);
  border-top: 3px solid var(--dark-gray);
  padding: 20px 0;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer p span {
  font-weight: bolder;
}

.footer a {
  color: var(--white);
  text-decoration: none;
}
