.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 10vh;
  background-color: var(--gray);
  color: var(--white);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  font-weight: bolder;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.menu a {
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  transition: .3s;
  border-bottom: 2px solid transparent;
}

.menu a:hover {
  border-bottom: 2px solid var(--white);
}